<h2>Customer Dashboard</h2>

<div class="row mt-4">

    <div class="col-md-4">
        <div class="card shadow p-3 text-center">
            <h5>My Policies</h5>
            <a asp-action="MyPolicies" class="btn btn-primary mt-2">View</a>
        </div>
    </div>

</div>